[Unit]
Description=Web-based PostgreSQL management server.
Documentation=https://www.pgadmin.org/docs

[Service]
ExecStart=/bin/bash -l -c "%h/.asdf/shims/pgadmin4"

[Install]
WantedBy=default.target
