development:
  database:
    name: $dev_db_name
    username: $dev_db_user
    password: $dev_db_pass
    host: $dev_db_host
    port: $dev_db_port
test:
  database:
    name: $test_db_name
    username: $test_db_user
    password: $test_db_pass
    host: $test_db_host
    port: $test_db_port
production:
  database:
    name: $prod_db_name
    username: $prod_db_user
    password: $prod_db_pass
    host: $prod_db_host
    port: $prod_db_port
